body {
    margin: 0;
    padding: 0;
}

/********** NavBar **********/

.logo {
    width: 10%;
    border-radius: 50%;
    margin-right: 5px;
}

.navigationBar {
    display: flex;
    color: #eee0e0;
    background-color: #232323;
    box-shadow: 0px 0px 90px 2px #4b4444 inset;
    width: 100%;
    height: 20vh;
    font-family: "Bernard MT Condensed";
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    justify-content: space-around;
}

.navLinks {
    display: flex;
    flex-direction: row;
}

.navLink{
    margin: 1vw;
    align-items: center;
    text-align: center;
    font-family: "Avenir";
    letter-spacing: 1px;
    border: 1px solid #f35f5f;
    background: #f35f5f;
    color: white;
    padding: 7px;
    text-decoration: none;
    border-radius: 5px;
}

.navLink:hover {
    background-color: rgba(239, 94, 94, 0.56);
    color: white;
    transition: background-color 1s, border 0.5s;
    border: 1px solid white;
    cursor: pointer;
}

.navLink:active {
    transform: translateY(2px) translateX(2px);
}

/********** Footer **********/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6.4rem;
    /*max-width: 120rem;*/
    padding: 0 3.2rem;
    margin: 0 auto;
    color: #eee0e0;
    border: 1px solid black;
    background-color: #232323;
    box-shadow: 0px 0px 90px 2px #4b4444 inset;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 0;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1.5rem;
    list-style: none;
    color: #555;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #eee0e0;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}

/********** ShowCard **********/

.main-card-container{
    /*height: 5vh;*/
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
}
.card-container{
    width: 23%;
    padding: 10px;
    display:flex;
    flex-direction: column;
}
.card-body {
    display:flex;
    flex-direction: column;
}

.card-image{

    border-radius: 2%;
    box-shadow: 10px 5px 5px grey;

}
.buy-tickets{
    background-color: #a17575;
    color: #1a1a1a;
    width: 105px;
    font-size: 13px;
    border: 2px solid #242424;
    transition-duration: 0.5s;
    box-shadow: 2px 2px 15px #855252;
}
.buy-tickets:active{
    transform: translateY(2px);

}

.show-date{
    font-weight: bold;
}

.card{
    border: 3px solid #332525;
    border-radius: 5%;
    padding: 15px;

}

/********** SearchByName **********/

.searchByName {
    padding: 1px;
    margin: 20px;
    border-radius: 10px;
    background: linear-gradient(-67deg, rgba(200, 216, 231, .7), rgba(255, 255, 255, .8));
    overflow: hidden;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6), 2px 2px 12px #c8d8e7;
    width: 380px;
}

.searchByName .container {
    padding: 16px 16px;
    background-color: #e2e9f4;
    border-radius: 10px;
}

label, .budget {
    display: block;
    color: #3c4b66;
    margin-bottom: 12px;
    background: linear-gradient(45deg, rgba(107, 123, 143, 1), #3c4b66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.innerContainer {
    display: flex;
}

.icon {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 12px;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6), 2px 2px 12px #c8d8e7;
}

.icon svg {
    transform: translate(-1px, -1px);
}

.inputContainer {
    width: 100%;
    --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
    --bottom-shadow: inset -2px -2px 4px rgba(255, 255, 255, .7);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.inputContainer:before,
.inputContainer:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.inputContainer:before {
    box-shadow: var(--bottom-shadow);
}

.inputContainer:after {
    box-shadow: var(--top-shadow);
}

input {
    background-color: #e3edf7;
    padding: 16px 32px;
    border: none;
    display: block;
    font-weight: 600;
    color: #a9b8c9;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
}

input::placeholder {
    color: #6d7f8f;
}

input:focus {
    outline: none;
    color: #6d7f8f;
    background-color: #eff5fa;
}

/********** SearchByName **********/

.searchByPrice {
    padding: 1px;
    margin: 20px;
    border-radius: 10px;
    background: linear-gradient(-67deg, rgba(200, 216, 231, .7), rgba(255, 255, 255, .8));
    overflow: hidden;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6), 2px 2px 12px #c8d8e7;
    width: 380px;
}

.searchByPrice .container {
    padding: 16px 16px;
    background-color: #e2e9f4;
    border-radius: 10px;
}

.output {
    text-align: center;
    line-height: 46px;
    min-width: 46px;
    min-height: 46px;
    border-radius: 10px;
    margin-right: 12px;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6), 2px 2px 12px #c8d8e7;
}

.searchByPrice input {
    width: 65%;

}





@media (max-width: 700px) {
    .navLinks {
        flex-direction: column;
    }

    .pageTitle {
        font-size: 7vw;
    }

    .navLink{
        font-family: "Arial";
        color: white;
        padding: 1px;
        font-size: smaller;
    }

    .logo {
        width: 17%;
    }

}


/*.logo {*/
/*    margin-top: 2rem;*/
/*    width: 40%;*/
/*    border-radius: 50%;*/
/*    min-hight: 20rem;*/
/*}*/
.location-box {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    justify-content: end;
    /*border: 3px solid rgba(10, 10, 10, 0.25);*/
    margin-right: 5rem;
    text-align: start;
    /*border-radius: 5px;*/
   /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.13);*/
}

<<<<<<< HEAD
.event-category{
    color: darkred;
}

.information-section{
    background-color:#d3d3dc ;
    padding: 20px;
    width: 80%;
    display: inline-block;
    margin-left: 10%;
    text-align: justify;
}

.artist-details{
    width: 15%;
    float:left;
    margin-right: 15px;

}

.artist-pic{
    width: 150px;
    border-radius: 50%;
    display: inline;

}
.artist-name{
    float: right;
    margin-right: 110px;

}

.artist-info-section{
    width: 80%;
    display: inline-block;
}
=======
.location-headline {
    margin-top: 4rem;
    align-content: end;
}

.show-address {
    max-width: 10rem;
}

.directions-link {
    color: darkred;
    text-align: center;
    text-decoration: none;
}

.directions-link:hover {
    color: #f35f5f;
}

.map-iframe {
    height: 50vh;
    width: 15vw;
}

.boldWord {
    font-weight: bold;
}
>>>>>>> main
