.booking {
    margin: 3rem auto;
}

.booking h2 {
    font-size: 2rem;
    text-align: center;
    margin: 3.8rem;
}

.locations h3 {
    font-size: 1.5rem;
    margin: 2rem;
}

.checkout-link {
    display: block;
    background-color: var(--red);
    color: white;
    padding: 10px;
    font-size: 16px;
    width: 10rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 5px;
    text-align: center;
    margin: 1rem auto;
}

.checkout-link:hover {
    background-color: black;
    color: white;
    transition: background-color 1s, border 0.5s;
    cursor: pointer;
}

.checkout-link:active {
    transform: translateY(2px) translateX(2px);
}
