.event-container > img {
    width: 100%;
}

.event-container .trailer-buttons {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.trailer-buttons .buy-tickets {
    background-color: #840032;
    text-transform: uppercase;
    color: white;
    padding: 0.5rem;
    text-align: center;
    width: 8rem;
    font-size: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
    border-radius: 5px;
}

.trailer-buttons:hover .buy-tickets:hover {
    background-color: black;
    color: white;
    transition: background-color 1s, border 0.5s;
    cursor: pointer;
}

.trailer-buttons:active .buy-tickets:active {
    transform: translateY(2px) translateX(2px);
}

.event-container h3 {
    margin: 1rem 0;
    font-weight: 900;
}

.event-container p {
    text-align: justify;
}

.share-buttons * {
    margin-left: 5px;
}

.artist-info, .event-info {
    margin: 2rem;
    padding: 1rem;
    background-color: white;
    border-top: 3px solid var(--yellow);
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
}

.artist-info img{
    height: 270px;
    margin-right: 1rem;
    float: left;
}

.know-more {
    color: white;
    background-color: var(--black);
    font-size: 13px;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}

.know-more span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--yellow);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.know-more:hover {
    color: black;
}

.know-more:hover span {
    transform: translateY(0) scale(2);
}

.know-more span:nth-child(1) {
    --n: 1;
}

.know-more span:nth-child(2) {
    --n: 2;
}

.know-more span:nth-child(3) {
    --n: 3;
}

.know-more span:nth-child(4) {
    --n: 4;
}


.venue-buttons {
    margin: 1rem;
}

.venue-buttons button {
    padding: .5rem;
    background-color: white;
    border: 1px solid var(--grayishBlue);
    margin: 15px 10px 0 0;
    cursor: pointer;
    border-radius: 5px;
}

.venue-buttons button:hover {
    scale: 110%;
}

.venue-buttons button.active {
    scale: 110%;
    color: white;
    background-color: var(--grayishBlue);
}


iframe {
    height: 450px;
    width: 95%;
    border: 1px solid var(--grayishBlue);
    margin: 0 1rem 3rem 1rem;
    border-radius: 5px;
}

