
.login-form-container{

    margin:auto;
}

.forgot-password-container form{
    width: 400px;
    background-color:var(--grey);
    font-family:var(--heading-font);

    margin: 5rem auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.forgot-password-container form *{
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.forgot-password-container form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;

}

.forgot-password-container form label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    font-family:var(--heading-font);
}
.forgot-password-container form input{
    display: block;
    height: 50px;
    width: 100%;
    background-color:var(--veryLightGray);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.forgot-password-container form::placeholder{
    color:var(--black);

}

.forgot-password-intro{
    text-align:center;
}



@keyframes buttonAnimation {
    0% {
        background-color: #840032;
    }
    100% {
        background-color: black;
    }
}
.forgot-password-button:hover{
    animation-name:buttonAnimation;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
}