.forgot-password-text{
    font-size:15px;
    padding-top:8px;
}

.forgot-password-text:hover{
    animation-name:signUpHover;
    animation-duration:0.2s;
    animation-fill-mode: forwards;
}

.forgot-password-container{
    text-align: center;
    background-color:#E5DADA;
    height: 50rem;
    width: 100%;
}

.forgot-password-title{
    font-family: playfair;
    font-size: 36px;
    padding-top:7rem;
}

.forgot-password-intro{
    font-size:20px;
    padding-top:1rem;
}

.forgot-password-button{
    display: flex;
    background-color: #840032;
    color: white;
    margin: auto;
    padding-right:4rem;
    padding-left:4rem;
}

.forgot-password-button:hover{
    background-color: rgba(10, 10, 10, 0.57);
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
}
.email-label-forgot-password{
    margin-top:1rem;
}