body {
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
    background-color: var(--veryLightGray);
}

main {
    min-height: calc(100vh - 240px - 140px);
    max-width: 1440px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 3.8rem;
    font-weight: 900;
}

.dropdown {
    display: none;
}

@media (max-width: 700px) {


    .pageTitle {
        font-size: 7vw;
    }



    .logo {
        width: 17%;
    }

    .search-bar {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .search {
        background-color: white;
        display: flex;
        justify-content: space-between;
        border-radius: 100vw;
        font-size: 1rem;
        margin: 1rem;
        padding: 1rem;
        border: 2px solid var(--yellow)
    }

}
