.login-form-container{
    text-align: center;
    background-color:#E5DADA;
    height: 50rem;
    width: 100%;
}

.login-form{
    margin-left: 40%;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-top:1rem;
}

.login-logo{
    margin-top: 2rem;
    width:90px;
    border-radius: 50%;
}

.login-button{
    background-color: #840032 ;
    color: white;
    font-family: lato;
    margin-top: 1.5rem;
}

.login-button:hover{
    background-color: rgba(10, 10, 10, 0.57);
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
}

.email-label{
    font-family: lato;
    text-align: start;
    font-size: 18px;
    font-weight: bolder;
    width:300px;
}

.pass-label{
    font-family: lato;
    text-align: start;
    font-size: 18px;
    font-weight: bolder;
}

.email{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #840032;
    width:300px;
    background: white;
}

.password{
    width:21rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background: transparent;
    background: white;
}

.pass-eye-div{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #840032;
    height: 2.9rem;
    overflow: hidden;
    background: white;
}

.welcome-message{
    font-family: playfair;
    font-size: 36px;
}

.text-for-signup{
    text-align: center;
    margin-top:2rem;
    color: #0a0a0a;
    font-family: lato;
    font-size: 20px;
}
.pass-eye-div span{
    cursor: pointer;
}